/* *********** Universal Elements *********** */

html {
    padding: 20px;
    margin: 0;
    text-align: center;
}

body { 
    /*background-color: black;*/
    /*color: white;*/
}

.container {
    text-align: center;
}

section {
    margin: 20px 0;
}

a {
    color: #337ab7;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #00acc1;
}

h1 img.logo {
    height: 50px;
}

.h1, h1 {
    font-size: 50px;
}

/* *********** Specialized Elements *********** */

#welcome-section .center {
    margin-left: 25%;
    width: 50%;
}

#submit-image-section {
    margin: auto 0;
    /*color: black;*/
}

.image-with-palette {
    display: inline-block;
    min-width: 330px;
    padding: 10px;
}

.palette-seed-figure img {
    /*margin-left: 10%;*/
    height: 250px;
    padding-bottom: 10px;
}

.palette-color {
    display: inline-block;
    margin: 1%;
    border: 2px solid black; 
    border-radius: 5px;
    height: 50px; 
    width: 50px; 
}

/* Hide delete button from the home page images*/
#sample-palette-section div.remove-image-div {
    display: none;
}

#user-info-ul li {
    list-style-type: none;
}


/* *********** Interactive Elements *********** */


.alert {


}

.alert-warnings {

}