/* *********** Universal Elements *********** */

html {
    padding: 20px;
    margin: 0;
    text-align: center;
}

body { 
    margin-top: 30px;
    background-image: url("/static/img/design/paper.png");
    font-family: 'Lato', sans-serif;
}

.container {
    text-align: center;
}

section {
    margin: 20px 0;
}

a {
    color: #337ab7;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #00acc1;
    font-family: 'Scope One', serif;
}

h1 img.logo {
    height: 50px;
}

.h1, h1 {
    font-size: 50px;
}

.h2, h2 {
    margin: 75px 0 30px;
    font-size: 50px;
}

.btn .btn-primary {
    background-color: #00acc1;
}

.btn .btn-primary:hover {
    background-color: #589ea7;
}

.navbar {
    color: #00acc1;
}
/* *********** Specialized Elements *********** */

.navbar-inverse .navbar-brand {
    color: #589ea7;
}

.navbar-inverse .navbar-nav>li>a {
    color: #589ea7;
}

section#welcome-section {
    margin: 60px 0 20px;
}

#welcome-section .center {
    margin-left: 25%;
    width: 50%;
}

#submit-image-section {
    margin: auto 0;
    /*color: black;*/
}

#submit-image-section input[type="text"] {
    height: 32px;
}

.image-with-palette {
    display: inline-block;
    min-width: 330px;
    padding: 20px;
    position: relative;
}

div.favorite-image-div {
    top: 10px;
    right: 10px;
    position: absolute;
}


#hex-color-seed {
    height: 23px;
    width: 50px;
    display: inline-block;
}

form.palette-square-form {
    display: inline-block;
    margin: 0 -22px;
}

.palette-seed-figure-div {
    display: inline-block;
    position: relative;
}

.palette-seed-figure img {
    height: 250px;
    margin-bottom: 10px;
    border: 1px solid rgba(128,128,128,0.3)
}

.palette-color {
    display: inline-block;
    margin: 1%;
    border: .5px solid black; 
    border-radius: 5px;
    height: 50px; 
    width: 50px; 
}

.palette-color-text {
    display: initial;
}


h2.no-accent-heading {
    color: black;
}

input.palette-color {
    color: rgba(0,0,0,0);
}



/* Hide heart from the home page images*/
#sample-palette-section div.favorite-image-div {
    display: none;
}

/* *********** Interactive Elements *********** */

div.favorite-image-div {
    height: 30px;
}

div.favorite-image-div span.glyphicon {
    padding-right: 3px;
    top: 0;
}

.heart-empty {
    font-size: 30px;
    color: black;
    background: rgba(255,255,255,0.2);
    border-radius: 5px;
}

.heart-full {
    font-size: 30px;
    color: red;
}

.heart-empty:hover,
.heart-full:hover {
    cursor: pointer;
}
/*
.alert {
}

.alert-warnings {
}
*/

/* *********** @media Queries *********** */

@media (min-width: 1250px)
.container {
    width: 1400px;
}


@media (min-width: 1300px)
.container {
    width: 1400px;
}
