/* *********** Universal Elements *********** */

html {
    padding: 20px;
    margin: 0;
    text-align: center;
}

body { 
    margin-top: 30px;
    background-image: url("static/img/design/paper.png");
}

.container {
    text-align: center;
}

section {
    margin: 20px 0;
}

a {
    color: #337ab7;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #00acc1;
}

h1 img.logo {
    height: 50px;
}

.h1, h1 {
    font-size: 50px;
}

.btn {
    background-color: #00acc1;
}

.btn:hover {
    background-color: #589ea7;
}

.navbar {
    color: #00acc1;
}
/* *********** Specialized Elements *********** */

#welcome-section .center {
    margin-left: 25%;
    width: 50%;
}

#submit-image-section {
    margin: auto 0;
    /*color: black;*/
}

.image-with-palette {
    display: inline-block;
    min-width: 330px;
    padding: 10px;
}



/* Hide delete button from the home page images*/
#sample-palette-section div.favorite-image-div {
    display: none;
}


#hex-color-seed {
    height: 23px;
    width: 50px;
    display: inline-block;
}

form.palette-square-form {
    display: inline-block;
    margin: 0 -20px;
}

.palette-seed-figure img {
    height: 250px;
    padding-bottom: 10px;
}

.palette-color {
    display: inline-block;
    margin: 1%;
    border: .5px solid black; 
    border-radius: 5px;
    height: 50px; 
    width: 50px; 
}

.palette-color-text {
    display: initial;
}

#user-info-ul li {
    list-style-type: none;
}

h2.no-accent-heading {
    color: black;
}

input.palette-color {
    color: rgba(0,0,0,0);
}






/* *********** Interactive Elements *********** */

.star-empty {
    font-size: 30px;
    cursor: pointer;
}

.star-empty:hover {
    cursor: pointer;
}

.star-full {
    font-size: 30px;
    color: gold;
}

.star-full:hover {
    cursor: pointer;
}



.alert {


}

.alert-warnings {

}

/* *********** @media Queries *********** */

@media (min-width: 1250px)
.container {
    width: 1300px;
}



