<!doctype html>
<html>
<head>
  <title>Paleta</title>

  <link rel="icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <link rel="stylesheet"  type="text/css" href="/static/styles.css">
</head>


<header>
    <a href="/">Home</a>
<header>

<body>
    
    <div class="container">

      <!-- Show flashed messages -->
      {% with messages = get_flashed_messages() %}
          {% for message in messages %}
              <div class="alert alert-warning">{{ message }}</div>
          {% endfor %}
      {% endwith %}

      <!-- This is where the main content goes. -->
      {% block content %}
          Page content goes here
      {% endblock %}

    </div>

</body>
</html>