<!doctype html>
<html>
<head>
  <title>Paleta</title>

  <link rel="icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <link rel="stylesheet"  type="text/css" href="/static/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Scope+One">


</head>


<header>
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">

            <div class="navbar-header">
                <img style="height: 20px; margin-top:15px;" src="/static/img/favicon.ico">
                <a class="navbar-brand" href="/">Paleta</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                        <li><a href="/gallery">Gallery</a></li>
                    <!-- If user is not logged in, display links to login or register -->
                    {% if not session["logged_in"] %}
                        <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#registerModal">Register</a></li>

                    <!-- If user is logged in, display profile and logout links -->
                    {% else %}  
                        <li><a href="/users/{{ user.user_id }}">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
            
        </div>
    </nav>


    <!-- jQuery Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Login</h4>
          </div>

          <div class="modal-body">
            <form action="/login" method="POST">
                <p>Email  <input type="text" name="email" placeholder="email"></p>
                <p>Password  <input type="password" name="password"  placeholder="password"></p>
                <input type="submit" class="btn btn-primary" value="Log in">
            </form>

            <hr>
            <p>Don't have an account?</p>
            <a class="btn btn-primary" href="#" data-dismiss="modal" data-toggle="modal" data-target="#registerModal">Sign Up</a>
          </div> <!-- .modal-body -->

          <!-- .modal-footer could go here-->
        </div> <!-- .modal-content -->
      </div> <!-- .modal-dialog -->
    </div> <!-- #loginModal-->



    <!-- jQuery Register Modal -->
    <div class="modal fade" id="registerModal" tabindex="0" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Register</h4>
          </div>

          <div class="modal-body">
            <form action="/register" method="POST">
                <p>First name  <input type="text" name="firstname" placeholder="firstname"></p>
                <p>Last name  <input type="text" name="lastname"  placeholder="lastname"></p>

                <p>Email  <input type="text" name="email" placeholder="name"></p>
                <p>Password  <input type="password" name="password"  placeholder="password"></p>
                <input type="submit" class="btn btn-primary" value="Register">
            </form>

            <hr>
            <p>Already have an account?</p>
            <a class="btn btn-primary" href="#" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Log In</a>
          </div> <!-- .modal-body -->

          <!-- .modal-footer could go here-->
        </div> <!-- .modal-content -->
      </div> <!-- .modal-dialog -->
    </div> <!-- #loginModal-->






</header>

<body>
    
    <div class="container">

      <!-- Show flashed messages -->
      {% with messages = get_flashed_messages() %}
          {% for message in messages %}
              <div class="alert alert-warning">{{ message }}</div>
          {% endfor %}
      {% endwith %}

      <!-- This is where the main content goes. -->
      {% block content %}
          Page content goes here
      {% endblock %}

    </div>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/static/script.js"></script>

</body>
</html>