{% for photo in photos %}
    <div id="gallery-image-with-palette-{{ photo.image_id }}" class="image-with-palette">

      {% if session["admin"] %}
      <button class="btn btn-warning" style="margin: 0 0 20px;">
        <span class="delete-all-records" data-image="{{ photo.image_id }}" >Delete {{ photo.image_id }}</span>
      </button>
      {% endif %}

      <figure class="palette-seed-figure">
          <div class="palette-seed-figure-div">
            <img src="{{ photo.file_name }}" alt="">

            {% if session["logged_in"] %}

            <div id="image-div-{{ photo.image_id }}" class="favorite-image-div">

                {% if not user in photo.users %}  
                <span id="image-{{ photo.image_id }}" data-image="{{ photo.image_id }}" class="heart-empty glyphicon glyphicon-heart-empty" aria-hidden="true"></span>

                {% else %} 
                <span id="image-{{ photo.image_id }}" data-image="{{ photo.image_id }}" class="heart-full glyphicon glyphicon-heart" aria-hidden="true"></span>
                {% endif %}

            </div>

            {% endif %}
          </div>
      </figure>



      {% set imagecolors = photo.imagecolors %}
      {% for imagecolor in imagecolors %}
      <form class="palette-square-form" action='/image_filter' method="GET">
          <input type="submit" class="palette-color" name="hex_color" value="{{ imagecolor.color.color }}" style="background-color: {{ imagecolor.color.color }}"></input>
          
          <a class="palette-color-text" href="{{ url_for('image_filter', hex_color=imagecolor.color.color) }}" style="color: {{ imagecolor.color.color }}">{{ imagecolor.color.color }}</a>
      </form>

      {% endfor %}

      

    </div>
{% endfor %}

