{% for photo in photos %}
    <div id="gallery-image-with-palette-{{ photo.image_id }}" class="image-with-palette">

      <figure class="palette-seed-figure">
          <div class="palette-seed-figure-div">
            <img src="{{ photo.file_name }}" alt="">

            {% if session["logged_in"] %}

            <div id="image-div-{{ photo.image_id }}" class="favorite-image-div">

                {% if not user in photo.users %}  
                <!-- <button href="">         -->
                <span id="image-{{ photo.image_id }}" data-image="{{ photo.image_id }}" class="star-empty glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <!-- </button> -->

                {% else %} 
                <!-- <button href=""> -->
                <span id="image-{{ photo.image_id }}" data-image="{{ photo.image_id }}" class="star-full glyphicon glyphicon-star" aria-hidden="true"></span>
                <!-- </button> -->
                {% endif %}

            </div>

            {% endif %}
          </div>
      </figure>



      {% set imagecolors = photo.imagecolors %}
      {% for imagecolor in imagecolors %}
      <form class="palette-square-form" action='/image_filter' method="GET">
          <input type="submit" class="palette-color" name="hex_color" value="{{ imagecolor.color.color }}" style="background-color: {{ imagecolor.color.color }}"></input>
          
          <a class="palette-color-text" href="{{ url_for('image_filter', hex_color=imagecolor.color.color) }}" style="color: {{ imagecolor.color.color }}">{{ imagecolor.color.color }}</a>
      </form>

      {% endfor %}

      
      

      
      

    </div>
{% endfor %}

