{% for photo in photos %}
    <div class="image-with-palette">

      <figure class="palette-seed-figure">
          <img src="{{ photo.file_name }}" alt="">
      </figure>

      {% set imagecolors = photo.imagecolors %}
      {% for imagecolor in imagecolors %}
      <form class="palette-square-form" action='/image_filter' method="POST">
          <input type="hidden" name="hex_color" value="{{ imagecolor.color.color }}" ></input>
          <input type="submit" class="palette-color" value="" style="background-color: {{ imagecolor.color.color }}"></input>
          <a class="palette-color-text" style="color: {{ imagecolor.color.color }}" href="/image_filter/{{ imagecolor.color.color }}">{{ imagecolor.color.color }}</p>
      </form>

      {% endfor %}

      
      

      
      {% if session["logged_in"] %}
          <div class="favorite-image-div">
              <a href="/favorite_image/{{ photo.image_id }}">
                <button class="favorite-image-btn">Favorite {{ photo.image_id }}</button>
              </a>
          </div>
      {% endif %}

    </div>
{% endfor %}

