{% extends 'base.html' %}

<!-- This is the body content -->
{% block content %}

<section id="welcome-section">
    <div class="center">
        {% if user %}
            <h1>Welcome, {{user.firstname}} <img class="logo" src="/static/img/demo/paleta.png" alt="logo" /></h1>
        {% else %}
            <h1>Welcome to Paleta <img class="logo" src="/static/img/demo/paleta.png" alt="logo" /></h1>
            <h3><i>Your friendly neighborhood palette generator</i></h3>
        {% endif %}

    </div>
</section>

<!-- Here, a user can enter a URL, and make a POST request that will return the photo and a palette -->
<section id="submit-image-section">
    <form action="/" method="POST">
        <input type="text" name="URL" placeholder="Paste an image URL here" style="width: 300px;" />
        <input type="submit" class="btn btn-primary" value="Create Palette" />
    </form>
</section>

<section id="sample-palette-section">
    {% include 'gallery_palette.html' %}
</section>

{% endblock %}
