{% extends 'base.html' %}
{% block content %}

  <h2 class="no-accent-heading">Similar to <span style="color: {{ hex_color }}">{{ hex_color }}</span>
      <div id="hex-color-seed" style="background-color: {{ hex_color }}" ></div>
  </h2>

    <form action='/image_filter' method="GET">
        <p>Enter a hex color:  <input type="text" name="hex_color" placeholder="#6f3f79">
        <input type="submit" value="Activate wizardry"></input>
        </p>
    </form>


    {% if not session["logged_in"] %}
        <p>
            <a href="#" data-toggle="modal" data-target="#loginModal">Login</a> 
            to save images to your profile. Or <a href="/register">register</a> 
            to make a new account</a>.
        <p>
    {% endif %}

  


  <div id="color-filter-images">
    {% include 'gallery_palette.html' %}
  </div>

{% endblock %}
