{% for photo in photos %}
    <div class="image_with_palette">

      <figure class="palette-seed-figure">
          <img src="{{ photo.file_name }}" alt="">
      </figure>

      {% set colors = photo.colors.split(',') %}
      {% for color in colors %}
      <div class="palette-color" style="background-color: {{ color }} ;"></div>
      {% endfor %}
      
      <div class="remove-image-div">
          <a href="/remove_image/{{ photo.image_id }}">
            <button class="remove-image-btn">Remove {{ photo.image_id }}</button>
          </a>
      </div>

    </div>
{% endfor %}