{% extends 'base.html' %}
{% block content %}

<h2>Register for Paleta</h2>

<form action="/register" method="POST">

    <p>First name  <input type="text" name="firstname" placeholder="firstname"></p>
    <p>Last name  <input type="text" name="lastname"  placeholder="lastname"></p>

    <p>Email  <input type="text" name="email" placeholder="name"></p>
    <p>Password  <input type="password" name="password"  placeholder="password"></p>
    <input type="submit" value="Register">
</form>

{% endblock %}
