{% for photo in photos %}
    <div id="profile-image-with-palette-{{ photo.image_id }}" class="image-with-palette">

      <figure class="palette-seed-figure">
          <img src="{{ photo.file_name }}" alt="">
      </figure>

      {% set imagecolors = photo.imagecolors %}
      {% for imagecolor in imagecolors %}
      <form class="palette-square-form" action='/image_filter' method="GET">
          <input type="submit" class="palette-color" name="hex_color" value="{{ imagecolor.color.color }}" style="background-color: {{ imagecolor.color.color }}"></input>
          
          <a class="palette-color-text" href="{{ url_for('image_filter', hex_color=imagecolor.color.color) }}" style="color: {{ imagecolor.color.color }}">{{ imagecolor.color.color }}</a>
      </form>
      {% endfor %}
      
      <div class="remove-image-div">
          <span id="image-{{ photo.image_id }}" data-image="{{ photo.image_id }}" class="star-full profile-image glyphicon glyphicon-star" aria-hidden="true"></span>
      </div>

    </div>
{% endfor %}