{% extends 'base.html' %}
{% block content %}

  <h2>{{ user.firstname }}'s Profile</h2>

  <ul>
    <li> Name: {{ user.firstname }} {{ user.lastname }}</li>
    <li> Email: {{ user.email }}</li>

  </ul>



  <!-- For each photo associated with this user, show the image and palette -->
  {% for photo in photos %}
    <section class="main-palette-section">

      <figure class="palette-seed-figure">
          <img src="{{ photo.file_name }}" alt="">
      </figure>

      {% set colors = photo.colors.split(',') %}
      {% for color in colors %}
          <div class="sample-palette" style="background-color: {{ color }} ;"></div>
      {% endfor %}

    </section>
  {% endfor %}


{% endblock %}
